<mat-card class="member-card">
  <div  class="card-img-wrapper">
    <img  src="{{ member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" />
    <div class="fab-buttons animate">
      <button mat-mini-fab color="primary" routerLink="/members/{{member.username}}">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-user"
          style="font-size: 1.35rem"
        ></mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="addFollow(member)">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-user-plus"
          style="font-size: 1.35rem"
        ></mat-icon>
      </button>
      <button mat-mini-fab color="primary" routerLink="/members/{{member.username}}" [queryParams]="{tab: 3}">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-envelope"
          style="font-size: 1.35rem"
        ></mat-icon>
      </button>
    </div>
  </div>

  <mat-card-content>
    <strong style="color:green" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.username)">active</strong>
    <h2>{{ member.knownAs }}</h2>
    <p>{{ member.city }}</p>
  </mat-card-content>
</mat-card>
