.member-card {
  margin-bottom: 2rem;
}

.member-card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 1;
  width: 100%;
}

.member-card :hover img{
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.fab-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.2rem;
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  opacity: 0;
  /* x-level: 2; */
}

.card-img-wrapper:hover .fab-buttons {
  bottom: 0;
  opacity: 1;
}

.mat-mdc-button-base {
  width: 48px;
  height: 48px;
  border-radius: 2px !important;
}

.animate {
  transition: all 0.3s ease-in-out ;
}

