  <table mat-table [dataSource]="dataSource">
    <ng-container   matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef="">Username</th>
      <td mat-cell *matCellDef="let user">{{user.userName}}</td>
    </ng-container>

    <ng-container  matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef="">Active roles</th>
      <td mat-cell *matCellDef="let user">{{user.roles}}</td>
    </ng-container>

    <ng-container  matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef=""></th>
      <td mat-cell *matCellDef="let user">
        <button (click)="$event.stopPropagation()" mat-flat-button color="accent" (click)="openRolesModal(user)">Edit Roles</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
