<div style="background-color: #3f51b5">
  <div class="container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a routerLink="/" id="NavLogo">BeFriends</a>
        <nav>
          <ng-container *ngIf="accountService.currentUser$ | async">
            <a mat-button routerLink="/members" routerLinkActive="activebutton"
              >Members</a
            >
            <a mat-button routerLink="/lists" routerLinkActive="activebutton"
              >Lists</a
            >
            <a mat-button routerLink="/messages" routerLinkActive="activebutton"
              >Messages</a
            >
            <a mat-button routerLink="/admin" routerLinkActive="activebutton" *appHasRole='["Admin","Moderator"]'
              >Admin</a
            >
          </ng-container>
          <a mat-button routerLink="/errors" routerLinkActive="activebutton"
            >Errors</a
          >
        </nav>
        <span class="toolbar-spacer"></span>
        <div *ngIf="accountService.currentUser$ | async as user" class="loggedindiv">
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
          <button mat-button [matMenuTriggerFor]="menu">
            Welcome {{ user.knownAs || user.username | titlecase }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/member/edit">
              Edit Profile
            </button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
        <form
          *ngIf="(accountService.currentUser$ | async) === null"
          #loginForm="ngForm"
          class="login-form"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <mat-form-field>
            <input
              name="username"
              [(ngModel)]="model.username"
              matInput
              type="text"
              placeholder="Username"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              name="password"
              [(ngModel)]="model.password"
              matInput
              type="password"
              placeholder="Password"
            />
          </mat-form-field>
          <button mat-button type="submit">Login</button>
        </form>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
<div class="row" *ngIf="busyService.isLoading | async">
          <div class="loader-container">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
          </div>
</div>
