<div class="row" *ngIf="member">
  <div class="col-xs-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-xs-8">
    <mat-card class="unsavedchanges-card" *ngIf="editForm.dirty">
      <mat-card-content>
        <strong>Information: </strong> You have made changes. Any unsaved
        changes will be lost
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-4">
    <mat-card>
      <img
        mat-card-image
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt=""
        class="card-img-top img-thmbnail"
      />
      <mat-card-content>
        <div>
          <h2 style="align-self: center">{{ member.knownAs }}</h2>
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date: 'dd MMM yyyy'}}</p>
        </div>
      </mat-card-content>
      <button
        [disabled]="!editForm.dirty"
        form="editForm"
        type="submit"
        mat-flat-button
        color="primary"
        style="border-radius: 0px"
      >
        Save Changes
      </button>
    </mat-card>
  </div>

  <div class="col-xs-8">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="About {{ member.knownAs }}">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h2>bio</h2>
          <mat-form-field style="width: 100%">
            <textarea
              matInput
              [(ngModel)]="member.bio"
              name="bio"
              rows="6"
            ></textarea>
          </mat-form-field>
          <h2>Interests</h2>
          <mat-form-field style="width: 100%">
            <textarea
              matInput
              [(ngModel)]="member.hobbies"
              name="hobbies"
              rows="6"
            ></textarea>
          </mat-form-field>
          <h2>Location Details:</h2>
          <div class="row" style="width: 100%">
            <div class="col-xs-6">
              <h3>
                City:
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="member.city"
                    type="text"
                    name="city"
                  />
                </mat-form-field>
              </h3>
            </div>
            <div class="col-xs-6">
              <h3>
                Country:
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="member.country"
                    type="text"
                    name="country"
                  />
                </mat-form-field>
              </h3>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
