<div class="row">
  <div *ngFor="let member of members" class="col-xs-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<div class="row" style="justify-content:center" *ngIf="pagination">
<mat-paginator #paginator
              (page)="handlePageEvent($event)"
              [length]="pagination.totalItems"
              [pageSize]="pagination.itemsPerPage"
              [showFirstLastButtons]="true"
              [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
              aria-label="Select page">
</mat-paginator>
</div>
