.my-toggle-button {
  background-color: #3f51b5;
  color: white;
  font-weight: 500;
}
.my-toggle-button.mat-button-toggle-checked {
  background-color: #2b377c;
  color: white;
  font-weight: 500;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
