<div class="container cell">
  <div class="row">
    <div class="col-xs-12">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && register()"
        autocomplete="off"
      >
        <div class="row" style="justify-content: center">
          <div class="row-xs-12">
            <h2 class="text-center">Sign up</h2>
          </div>
        </div>
        <div class="row">
          <div class="row-xs-12">
            I am a
            <mat-radio-group
              [formControl]="registerForm.controls['gender']"
              aria-label="Select an option"
            >
              <mat-radio-button value="male">male</mat-radio-button>
              <mat-radio-button value="female">female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <app-text-input
          [formControl]="registerForm.controls['username']"
          [label]="'Username'"
        ></app-text-input>
        <app-text-input
          [formControl]="registerForm.controls['knownAs']"
          [label]="'Known As'"
        ></app-text-input>
        <app-date-input
          [formControl]="registerForm.controls['dateOfBirth']"
          [label]="'Date Of Birth'"
          [maxDate]="maxDate"
        ></app-date-input>
        <app-text-input
          [formControl]="registerForm.controls['city']"
          [label]="'City'"
        ></app-text-input>
        <app-text-input
          [formControl]="registerForm.controls['country']"
          [label]="'Country'"
        ></app-text-input>
        <app-text-input
          [formControl]="registerForm.controls['password']"
          [label]="'password'"
          [type]="'password'"
        ></app-text-input>
        <app-text-input
          [formControl]="registerForm.controls['confirmPassword']"
          [label]="'Confirm Password'"
          [type]="'password'"
        ></app-text-input>
        <div *ngIf="validationErrors.length > 0">
          <ul>
            <li *ngFor="let error of validationErrors">{{ error }}</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs">
              <button
                [disabled]="!registerForm.valid"
                mat-raised-button
                color="primary"
                type="submit"
              >
                Register
              </button>
              <button mat-button (click)="cancel()" type="button">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div></div>
      </form>
    </div>
  </div>
</div>
